/**
 * Barcodable.com API
 * Barcodable.com API
 *
 * OpenAPI spec version: 1.5.0
 * Contact: support@barcodable.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.InvalidCode
import org.openapitools.client.model.Item
import org.openapitools.client.model.NotFound
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object ProductLookupApi {

  /**
   * Returns a single item
   * 
   * Expected answers:
   *   code 200 : Item (successful operation)
   *              Headers :
   *                X-ValidAuthorization - A boolean indicating whether the API key in use is valid. Requests with an invalid subscription, incorrect key, or no key will return 'false'.
   *                X-RateLimit-Limit - An integer specifying the number of requests available per day. This number is definied by your subscription plan.
   *                X-RateLimit-Remaining - An integer specifying the number of remaining requests per day.
   *                X-RateLimit-Reset - A timestamp specifying the time in which the daily rate limit is reset.
   *   code 400 : InvalidCode (search results matching criteria)
   *   code 404 : NotFound (search results matching criteria)
   * 
   * @param asin ASIN code of item to return
   */
  def getItemByASIN(asin: String): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, "https://virtserver.swaggerhub.com/mindviser/barcodable/1.0.0", "/api/v1/asin/{asin}", "application/json")
      .withPathParam("asin", asin)
      .withSuccessResponse[Item](200)
      .withErrorResponse[InvalidCode](400)
      .withErrorResponse[NotFound](404)
      
  object GetItemByASINHeaders { 
    def xValidAuthorization(r: ApiReturnWithHeaders) = r.getBooleanHeader("X-ValidAuthorization")
    def xRateLimitLimit(r: ApiReturnWithHeaders) = r.getIntHeader("X-RateLimit-Limit")
    def xRateLimitRemaining(r: ApiReturnWithHeaders) = r.getIntHeader("X-RateLimit-Remaining")
    def xRateLimitReset(r: ApiReturnWithHeaders) = r.getDateTimeHeader("X-RateLimit-Reset")
  }
  /**
   * Returns a single item
   * 
   * Expected answers:
   *   code 200 : Item (successful operation)
   *              Headers :
   *                X-ValidAuthorization - A boolean indicating whether the API key in use is valid. Requests with an invalid subscription, incorrect key, or no key will return 'false'.
   *                X-RateLimit-Limit - An integer specifying the number of requests available per day. This number is definied by your subscription plan.
   *                X-RateLimit-Remaining - An integer specifying the number of remaining requests per day.
   *                X-RateLimit-Reset - A timestamp specifying the time in which the daily rate limit is reset.
   *   code 400 : InvalidCode (search results matching criteria)
   *   code 404 : NotFound (search results matching criteria)
   * 
   * @param ean EAN code of item to return
   */
  def getItemByEAN(ean: String): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, "https://virtserver.swaggerhub.com/mindviser/barcodable/1.0.0", "/api/v1/ean/{ean}", "application/json")
      .withPathParam("ean", ean)
      .withSuccessResponse[Item](200)
      .withErrorResponse[InvalidCode](400)
      .withErrorResponse[NotFound](404)
      
  object GetItemByEANHeaders { 
    def xValidAuthorization(r: ApiReturnWithHeaders) = r.getBooleanHeader("X-ValidAuthorization")
    def xRateLimitLimit(r: ApiReturnWithHeaders) = r.getIntHeader("X-RateLimit-Limit")
    def xRateLimitRemaining(r: ApiReturnWithHeaders) = r.getIntHeader("X-RateLimit-Remaining")
    def xRateLimitReset(r: ApiReturnWithHeaders) = r.getDateTimeHeader("X-RateLimit-Reset")
  }
  /**
   * Returns a single item
   * 
   * Expected answers:
   *   code 200 : Item (successful operation)
   *              Headers :
   *                X-ValidAuthorization - A boolean indicating whether the API key in use is valid. Requests with an invalid subscription, incorrect key, or no key will return 'false'.
   *                X-RateLimit-Limit - An integer specifying the number of requests available per day. This number is definied by your subscription plan.
   *                X-RateLimit-Remaining - An integer specifying the number of remaining requests per day.
   *                X-RateLimit-Reset - A timestamp specifying the time in which the daily rate limit is reset.
   *   code 400 : InvalidCode (search results matching criteria)
   *   code 404 : NotFound (search results matching criteria)
   * 
   * @param upc UPC code of item to return
   */
  def getItemByUPC(upc: String): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, "https://virtserver.swaggerhub.com/mindviser/barcodable/1.0.0", "/api/v1/upc/{upc}", "application/json")
      .withPathParam("upc", upc)
      .withSuccessResponse[Item](200)
      .withErrorResponse[InvalidCode](400)
      .withErrorResponse[NotFound](404)
      
  object GetItemByUPCHeaders { 
    def xValidAuthorization(r: ApiReturnWithHeaders) = r.getBooleanHeader("X-ValidAuthorization")
    def xRateLimitLimit(r: ApiReturnWithHeaders) = r.getIntHeader("X-RateLimit-Limit")
    def xRateLimitRemaining(r: ApiReturnWithHeaders) = r.getIntHeader("X-RateLimit-Remaining")
    def xRateLimitReset(r: ApiReturnWithHeaders) = r.getDateTimeHeader("X-RateLimit-Reset")
  }


}

