<?php

/**
 * Barcodable.com API
 * Barcodable.com API
 *
 * OpenAPI spec version: 1.5.0
 * Contact: support@barcodable.com
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 *
 * Source files are located at:
 *
 * > swagger-codegen/modules/swagger-codegen/src/main/resources/php-laravel/
 */

/**
 * get convertCode
 * Summary: Convert between UPC, EAN, and ASIN product codes.
 * Notes: Returns the converted UPC, EAN, and ASIN codes.
 * Output-Formats: [application/json]
 */
Route::get('/mindviser/barcodable/1.0.0/api/v1/convert/{upc | ean | asin}', 'ProductConversionController@convertCode');
/**
 * get getItemByASIN
 * Summary: Find item by asin code
 * Notes: Returns a single item
 * Output-Formats: [application/json]
 */
Route::get('/mindviser/barcodable/1.0.0/api/v1/asin/{asin}', 'ProductLookupController@getItemByASIN');
/**
 * get getItemByEAN
 * Summary: Find item by UPC code
 * Notes: Returns a single item
 * Output-Formats: [application/json]
 */
Route::get('/mindviser/barcodable/1.0.0/api/v1/ean/{ean}', 'ProductLookupController@getItemByEAN');
/**
 * get getItemByUPC
 * Summary: Find item by UPC code
 * Notes: Returns a single item
 * Output-Formats: [application/json]
 */
Route::get('/mindviser/barcodable/1.0.0/api/v1/upc/{upc}', 'ProductLookupController@getItemByUPC');

