=begin
#Barcodable.com API

#Barcodable.com API

The version of the OpenAPI document: 1.5.0
Contact: support@barcodable.com
Generated by: https://openapi-generator.tech
OpenAPI Generator version: 4.3.0

=end

require 'cgi'

module OpenapiClient
  class ProductLookupApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Find item by asin code
    # Returns a single item
    # @param asin [String] ASIN code of item to return
    # @param [Hash] opts the optional parameters
    # @return [Item]
    def get_item_by_asin(asin, opts = {})
      data, _status_code, _headers = get_item_by_asin_with_http_info(asin, opts)
      data
    end

    # Find item by asin code
    # Returns a single item
    # @param asin [String] ASIN code of item to return
    # @param [Hash] opts the optional parameters
    # @return [Array<(Item, Integer, Hash)>] Item data, response status code and response headers
    def get_item_by_asin_with_http_info(asin, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductLookupApi.get_item_by_asin ...'
      end
      # verify the required parameter 'asin' is set
      if @api_client.config.client_side_validation && asin.nil?
        fail ArgumentError, "Missing the required parameter 'asin' when calling ProductLookupApi.get_item_by_asin"
      end
      # resource path
      local_var_path = '/api/v1/asin/{asin}'.sub('{' + 'asin' + '}', CGI.escape(asin.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'Item' 

      # auth_names
      auth_names = opts[:auth_names] || []

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductLookupApi#get_item_by_asin\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Find item by UPC code
    # Returns a single item
    # @param ean [String] EAN code of item to return
    # @param [Hash] opts the optional parameters
    # @return [Item]
    def get_item_by_ean(ean, opts = {})
      data, _status_code, _headers = get_item_by_ean_with_http_info(ean, opts)
      data
    end

    # Find item by UPC code
    # Returns a single item
    # @param ean [String] EAN code of item to return
    # @param [Hash] opts the optional parameters
    # @return [Array<(Item, Integer, Hash)>] Item data, response status code and response headers
    def get_item_by_ean_with_http_info(ean, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductLookupApi.get_item_by_ean ...'
      end
      # verify the required parameter 'ean' is set
      if @api_client.config.client_side_validation && ean.nil?
        fail ArgumentError, "Missing the required parameter 'ean' when calling ProductLookupApi.get_item_by_ean"
      end
      # resource path
      local_var_path = '/api/v1/ean/{ean}'.sub('{' + 'ean' + '}', CGI.escape(ean.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'Item' 

      # auth_names
      auth_names = opts[:auth_names] || []

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductLookupApi#get_item_by_ean\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Find item by UPC code
    # Returns a single item
    # @param upc [String] UPC code of item to return
    # @param [Hash] opts the optional parameters
    # @return [Item]
    def get_item_by_upc(upc, opts = {})
      data, _status_code, _headers = get_item_by_upc_with_http_info(upc, opts)
      data
    end

    # Find item by UPC code
    # Returns a single item
    # @param upc [String] UPC code of item to return
    # @param [Hash] opts the optional parameters
    # @return [Array<(Item, Integer, Hash)>] Item data, response status code and response headers
    def get_item_by_upc_with_http_info(upc, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductLookupApi.get_item_by_upc ...'
      end
      # verify the required parameter 'upc' is set
      if @api_client.config.client_side_validation && upc.nil?
        fail ArgumentError, "Missing the required parameter 'upc' when calling ProductLookupApi.get_item_by_upc"
      end
      # resource path
      local_var_path = '/api/v1/upc/{upc}'.sub('{' + 'upc' + '}', CGI.escape(upc.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'Item' 

      # auth_names
      auth_names = opts[:auth_names] || []

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductLookupApi#get_item_by_upc\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
