=begin
#Barcodable.com API

#Barcodable.com API

OpenAPI spec version: 1.5.0
Contact: support@barcodable.com
Generated by: https://openapi-generator.tech
OpenAPI Generator version: 4.0.0-beta2

=end

require 'uri'

module OpenapiClient
  class ProductConversionApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Convert between UPC, EAN, and ASIN product codes.
    # Returns the converted UPC, EAN, and ASIN codes.
    # @param upc___ean___asin UPC, EAN, or ASIN
    # @param [Hash] opts the optional parameters
    # @return [InlineResponse200]
    def convert_code(upc___ean___asin, opts = {})
      data, _status_code, _headers = convert_code_with_http_info(upc___ean___asin, opts)
      data
    end

    # Convert between UPC, EAN, and ASIN product codes.
    # Returns the converted UPC, EAN, and ASIN codes.
    # @param upc___ean___asin UPC, EAN, or ASIN
    # @param [Hash] opts the optional parameters
    # @return [Array<(InlineResponse200, Fixnum, Hash)>] InlineResponse200 data, response status code and response headers
    def convert_code_with_http_info(upc___ean___asin, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductConversionApi.convert_code ...'
      end
      # verify the required parameter 'upc___ean___asin' is set
      if @api_client.config.client_side_validation && upc___ean___asin.nil?
        fail ArgumentError, "Missing the required parameter 'upc___ean___asin' when calling ProductConversionApi.convert_code"
      end
      # resource path
      local_var_path = '/api/v1/convert/{upc | ean | asin}'.sub('{' + 'upc | ean | asin' + '}', upc___ean___asin.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'InlineResponse200')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductConversionApi#convert_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

  end
end
